{% extends 'store/main.html' %}

{% block content %}
 <div class="container">
     <div class="row">
         <div class="col-md-0 offset-md-4"  >
             <div class="card">
                 <div class="card-header text-white bg-info" >
                     <div class="card-title">

                        <h1>{{ user.username }}</h1>

                     </div>
                      <img src="{{ user.profile.image.url }}">
                 </div>

             </div>
         </div>
     </div>
 </div>

{% endblock content %}


