{% extends 'store/main.html' %}

{% block content %}
 <div class="container">
     <div class="row">
         <div class="col-md-4 offset-md-4"  >
             <div class="card">
                 <div class="card-header text-white bg-info" >
                     <div class="card-title">
                         Register
                     </div>
                 </div>
                 <div class="card-body">
                     <form method="post">
                           {% csrf_token %}
                           {% for field in form %}
                               <div class="form-group">
                                   {{ field.name }}
                                   <br/>
                                   {{ field }}
                               </div>
                           {% endfor %}
                      <button class="btn-info" type="submit">Signup</button>
                     </form>

                 </div>
             </div>
         </div>
     </div>
 </div>

{% endblock content %}

<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Signup</button>
</form>